{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    {% load static %}<link href="{% static 'css/admin.css'%}" rel="stylesheet">

</head>
<body>
<div class="table">
    <form action="admindata" method="post">
    {% csrf_token %}
    <h3 style="color:red" align="center">{{ data }}</h3>
    <h2 align="center" class="login"> ADMIN REGISTER PAGE</h2>
    <table align="center" class="input-group">
        <div class="textbox">
            <tr>
                <td>UserName</td><td><input type="text" name="txtname" class="input-fielid"></td>
            </tr>
            <tr>
                <td>UserEmail</td><td><input type="email" name="txtemail" class="input-fielid"></td>
            </tr>
            <tr>
                <td>Password</td><td><input type="password" name="txtpass" class="input-fielid"></td>
            </tr>
            <tr>
                <td></td><td><input type="submit" value="Register" class="submit-btn"></td>
            </tr>
        </div>
    </table>
</form>
</div>
</body>
</html>